<!--div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">New Bar</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" ng-model="formData.email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="formData.password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success" ng-click="SignIn()">Sign in</button>
                <li><a href="/signup">New User?</a></li>
            </form>
        </div>
    </nav>
    </div-->
<div>
    <h1>Testing</h1>
</div>